<html>
    <head>
        <title>Choose Courses You Have Taken</title>
    </head>
    <body>
        <div id="header">
            <h1>Choose Courses You Have Taken</h1>
        </div>
        <div class="frame"> 
            <form name="form" action="{% url 'choose_minortotake' %}" method="GET">
                {% csrf_token %}
                {% if PRESCRIBED %}
                    <ul>
                    <label for="pre_course">Prescribed Courses: </label>
                    </ul>
                    <ul>
                    {% for pre_course in PRESCRIBED %}
                        {% if pre_course %}
                            <input type="checkbox" name="pre_course" value="{{pre_course}}">{{pre_course}}</input>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if ELECTIVE %}
                    <ul>
                    <label for="elec_course">Elective Courses: </label>
                    </ul>
                    <ul>
                    {% for elec_course in ELECTIVE %}
                        {% if elec_course %}
                            <input type="checkbox" name="elec_course" value="{{elec_course}}">{{elec_course}}</input>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
                <ul>
                <lable for="minor_other_0">Other Courses: </label>
                </ul>
                <ul>
                <input type="text" name="minor_other_0" />
                </ul>
                <ul>
                <input type="text" name="minor_other_1" />
                </ul>
                <ul>
                <input type="text" name="minor_other_2" />
                </ul>
                <ul>
                <input type="text" name="minor_other_3" />
                </ul>
                <ul>
                <input type="text" name="minor_other_4" />
                </ul>
                <ul>
                <input type="submit" value="Submit" />
                </ul>
            </form>
        </div>
    </body>
</html>
