{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}" />

<html>
    <head>
        <title>Course Schedule</title>
    </head>
    <body>
        <div id="header">
            <h1>Course Schedule</h1>
        </div>
        <div class="frame"> 
            <form name="form" action="{% url 'schedules' %}">
                {% csrf_token %}
                <ul>
                <table class="course-schedule">
                <tr colspan=2>
                <tr><th>Terms</th><th>Courses</th>
                    {% for obj in schedule %}
                        <tr><td>{{ obj.0 }}</td> <td>{{ obj.1 }}</td></tr>
                    {% endfor %}
                    </tr>
                </table>
                </ul>
                <ul>
                Go back: <a href="{% url 'choose_major' %}">Homepage</a>
                </ul>
            </form>
        </div>
    </body>
</html>